:root {
    --grey: #1A1B20;
    --black: #000011;
    --yellow: #D2B358;
}

.indeximge {
    height: 17vh;
    width: 100vw;
    background-color: var(--black);
    background-size: cover;
}

.produitimg,
#produittext {
    width: 40%;
    height: 70vh;
    background-color: var(--grey);
    border-radius: 10px;
    border: var(--yellow) 1px solid;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    font-family: 'Cinzel', serif;
    padding-left: 20px;
    padding-right: 10px;
}

.produitimg {
    float: left;
    margin-left: 7%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(30px, 30px);
    position: fixed;
    height: 470px;
}


.produitimg img {
    border: 2px solid var(--yellow);
    border-radius: 10px;
}

#produittext {
    float: right;
    margin-right: 7%;
    grid-auto-rows: minmax(30px, 100px);
    height: 700px;
    margin-bottom: 50px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.imggrande {
    grid-row: 2/4;
    grid-column: 1/9;
    margin-left: 100px;
    width: 400px;
}

.imgthumbun,
.imgthumbdeux,
.imgthumbtrois {
    width: 125px;
    height: auto;
}

.imgthumbun {
    grid-column: 3;
    grid-row: 10;
    margin-left: -100px;
}

.imgthumbdeux {
    grid-column: 5;
    grid-row: 10;
    margin-left: -25px;
}

.imgthumbtrois {
    grid-column: 7;
    grid-row: 10;
}

.nomDuLieu {
    grid-column: 1/10;
    grid-row: 1;
    color: var(--yellow);
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 10px;
}

.titreSecteur,
.titreDescription,
.titreEquipe,
.secteurCategorie,
.secteurType,
.titreMD,
.titreChambre,
.titreSdB,
.titreMessage,
.titrePrix,
.arrive,
.depart {
    font-size: 19px;
    font-weight: bold;
    color: var(--yellow);
}

.titreMD,
.titreChambre,
.titreSdB,
.titreEquipe,
.secteurCategorie,
.secteurType,
.titrePrix,
.titreMessage {
    margin-top: 10px;
}

.titreSecteur {
    grid-column: 1/2;
    grid-row: 3;
}

.secteur {
    grid-column: 3;
    grid-row: 3;
}

.titreDescription {
    grid-column: 1/2;
    grid-row: 4;
}

.description {
    grid-column: 3/9;
    grid-row: 4;
}

.titreMD {
    grid-column: 1;
    grid-row: 6;
}

.carre {
    grid-column: 1;
    grid-row: 7;
}

.titreChambre {
    grid-column: 3;
    grid-row: 6;
}

.chambre {
    grid-column: 3;
    grid-row: 7;
}

.titreSdB {
    grid-column: 8/10;
    grid-row: 6;
    margin-left: 40px;
}

.salleDeBain {
    grid-column: 8/10;
    grid-row: 7;
    margin-left: 40px;
}

.titreEquipe {
    grid-column: 1/10;
    grid-row: 9;
}

.equipements {
    grid-column: 1/10;
    grid-row: 10;
}

.secteurCategorie {
    grid-column: 1;
    grid-row: 12;
}

.categorie {
    grid-column: 1;
    grid-row: 13;
}

.secteurType {
    grid-column: 3/9;
    grid-row: 12;
    margin-left: 40px;
}

.type {
    grid-column: 3;
    grid-row: 13;
    margin-left: 40px;
}

.titrePrix {
    grid-column: 9/10;
    grid-row: 12;
    color: var(--yellow);
    margin-left: -100px;
}

.prix {
    grid-column: 9/10;
    font-size: 30px;
    grid-row: 13;
    margin-left: -100px;
}

.chef {
    margin-top: 13px;
    grid-column: 2/4;
    grid-row: 18;
}

.visite {
    margin-top: 13px;
    grid-column: 1/2;
    grid-row: 18;
}

#textReserve {
    grid-column: 1/9;
    grid-row: 15;
    height: 10vh;
    margin-top: 1vh;

}

.titreMessage {
    grid-column: 1;
    grid-row: 14;
}

.departInput {
    grid-column: 3;
    grid-row: 20;
    width: 10vw;
}

.arrive {
    grid-column: 1;
    grid-row: 22;
}

.depart {
    grid-column: 1;
    grid-row: 20;
}

.arriveInput {
    grid-column: 3;
    grid-row: 22;
    width: 10vw;
}


.valider {
    border: none;
    font-size: 18px;
    color: var(--yellow);
    border: solid 1px var(--yellow);
    border-radius: 5px;
    width: 200px;
    height: 40px;
    text-align: center;
    background-color: var(--grey);
    font-family: 'Cinzel', serif;
    font-size: 20px;
    margin-left: 10px;
    grid-column: 8;
    grid-row: 20;
    margin-left: 20px;
    margin-top: -25px;
}

.valider:hover {
    background-color: var(--yellow);
    color: var(--black)
}

@media screen and (max-width: 720px) {

    .produitimg,
    #produittext {
        width: 90%;
        display: flex;
        height: auto;
        padding-left: 2vh;
        padding-right: 2vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    .produitimg {
        position: absolute
    }

    .imggrande {
        margin-left: 0;
        width: 100%;
        height: 67%;
    }

    .imgthumbun,
    .imgthumbdeux,
    .imgthumbtrois {
        width: 30%;
        height: 20%;
        margin-top: 69%;
        display: flex;
    }

    .imgthumbun {
        margin-left: -104%;
    }

    .imgthumbdeux {
        margin-left: 2%;
    }

    .imgthumbtrois {
        margin-left: 2%;
    }

    #produittext {
        position: absolute;
        margin-top: 80%;
        flex-direction: column;
        margin-left: 7vw;
    }

    #produittext span {
        height: 30px;
        display: flex;
    }

    .nomDuLieu {
        text-align: center;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .titreSecteur,
    .titreDescription,
    .titreEquipe,
    .secteurCategorie,
    .secteurType,
    .titreMD,
    .titreChambre,
    .titreSdB,
    .titreMessage,
    .titrePrix {
        font-size: 19px;
        font-weight: bold;
        color: var(--yellow);
    }

    .titreSdB,
    .salleDeBain,
    .secteurType,
    .type {
        margin-left: 0;
    }

    .prix,
    .titrePrix {
        margin-left: 70%;
        font-size: 30px;
    }

    .valider {
        margin-top: 0;
        width: 70vw;
    }

    .prix,
    .titrePrix {
        display: absolute;
        margin-top: 30px;
        width: 10%;
    }

    .chef,
    .visite {
        display: flex;
        width: 10%;
    }
}