:root {
    --grey: #1A1B20;
    --black: #000011;
    --yellow: #D2B358;
}

.informationsPerso{
    font-weight: bold;
}

.formulaireInformation{
    width: 50vw;
    height: auto;
    background-color: var(--grey);
    display: flex;
    margin-left: 40vw;
    border-radius: 15px;
    border: var(--yellow) 1px solid;
    font-family: 'Cinzel', serif;
    color: var(--yellow);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(30px, 70px);
    padding-top: 20px;
    margin-bottom: -70vh;
}

.css-input{
    padding: 5px;
    font-size: 18px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #f6f6f6;
    color: #000000;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0px 0px 0px rgba(66,66,66,.75);
    height: 25px;
}

.info{
    grid-column: 2/9;
    grid-row: 1;
}

.nom{
    grid-column: 2/4;
    grid-row: 2;
}

.prenom{
    grid-column: 8/9;
    grid-row: 2;
}

.mailParrain{
    grid-column: 2/9;
    grid-row: 3;
}

.mailPerso{
    grid-column: 2/9;
    grid-row: 4;
}

.titreMDP{
    grid-column: 2/9;
    grid-row: 5;
}

.AncienMDP{
    grid-column: 2/9;
    grid-row: 6;
}

.NouveauMDP{
    grid-column: 2/9;
    grid-row: 7;
}

.valider{
    grid-column: 7;
    grid-row: 8;
}

#mailParrainInput, #mailPersoInput, #AncienMDPInput, #NouveauMDPInput{
    width: 100%;
}

.valider{
    border: none;
    font-size: 18px;
    color: var(--yellow);
    border: solid 1px var(--yellow);
    border-radius: 5px;
    width: 130px;
    height: 22px;
    text-align: center;
    background-color: var(--grey);
    font-family: 'Cinzel', serif;
    font-size: 16px;
    margin-left: 10px;
}

.valider:hover{
    background-color: var(--yellow);
    color:var(--black)
}